* {
    font-family: 'Courier New', monospace !important;
    letter-spacing: -0.4px;
}

* {
    color: #00FF66;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container .image {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

body {
    background-color: #282828;
}