@font-face {
    font-family: myFirstFont;
    src: url(Fonts/SCHLBKB.TTF);
}
body {
    font-family: myFirstFont !important;
    font-size: 18px;
    letter-spacing: normal;
    word-spacing: normal;
    color: #000000;
    margin: 0;
    padding: 0;
    position: relative;
}
.banner {
    background-color: #282828; /* Background color of the banner */
    color: #fff; /* Text color of the banner */
    padding: 10px 20px; /* Padding around the content */
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Center items vertically */
    height: fit-content;
    width: 100%; /* Full width banner */
    position: fixed; /* Fixed position at the top */
    top: 0; /* Stick to the top */
    z-index: 10; /* Ensure it's above other content */
}
.logo {
    display: flex; /* Flexbox for layout */
    align-items: center; /* Center items vertically */
}
.logo-img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    margin-right: 10px; /* Spacing between logo and text */
}
.site-name {
    margin: 0; /* Remove margin */
}
.button-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 999;
}
.sidebar {
    width: 200px;
    height: 100vh;
    margin-top: 3%;
    background-color: #f1e5d1;
    border-radius: 10px;
    opacity: 0.9;
    position: fixed;
    right: -200px; /* Change left to right */
    transition: right 0.3s ease-in-out; /* Update transition property */
    z-index: 11;
}
.sidebar.open {
    right: 0; /* Change left to right */
}
.menu-item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    color: #000000;
}
.sidebar li {
    margin-bottom: 10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    background-color: #f1e5d1;
    border-radius: 10px;
    opacity: 0.9;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header-container {
    display: flex;
    align-items: center;
}
.footer {
    text-align: center;
    margin-top: 20px;
}
.post {
    margin-bottom: 20px;
}
.post-date {
    font-size: 1rem;
    font-weight: bold;
}
.post-title {
    font-size: 1.5rem;
}
.audio-player {
    position: static;
    align-self: center;
    background-color: #f1e5d1;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}
@media only screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }
    .post-title {
        font-size: 14px;
    }
    .container {
        max-width: 80%;
        margin-top: 15%;
        padding: 10px;
    }
    .sidebar {
        margin-top: 10%;
    }
}