* {
    font-family: 'Courier New', monospace;
    letter-spacing: -0.4px;
    color: #00FF66;
    background-color: #282828; /* Change to darkgray or #282828 */
}

.header-container {
    display: flex;
    align-items: center;
}

.image {
    width: 100px;
    height: auto;
    margin-right: 10px;
}